<div data-controller="noshi">
  <% if !@noshis.present? || !user_signed_in? %>
    <%= render 'form', locals: { noshi: @noshi }%>
  <% else %>
    <%= form_tag destroy_multiple_noshis_path, method: :delete do %>
      <div class="flex">
        <h1 class="m-2 p-4 text-lg lg:text-xl grow"><%= t('noshi_list') %></h1>
        <div class="m-1">
          <%= t(:check_all) %><input type="checkbox" class="noshi-select-all mx-1 p-1"/>
          <%= submit_tag t(:delete_checked), class: 'rounded border border-slate-100 hover:border-sky-300 hover:border-dashed active:border-solid cursor-pointer bg-orange-400 mx-1 p-1', data: { confirm: t('confirm_delete_checked') } %>
        </div>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 items-center content-center justify-center">
        <% @noshis.each do |noshi| %>
          <%= render noshi %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
